<!DOCTYPE html>
<html>
    <title>Shopware Recovery</title>
    <meta name="robot" content="noindex, nofollow" />
    <link rel="stylesheet" href="{{ app.request.baseUrl }}/assets/bootstrap.min.css">

    <body>
        <div class="container mt-5">
            {% block main %}{% endblock %}
        </div>

        <script>
            const baseUrl = '{{ app.request.baseUrl }}';
        </script>
        <script src="{{ app.request.baseUrl }}/assets/app.js"></script>
    </body>
</html>