<!DOCTYPE html>
<html>
    <title>Shopware Recovery</title>
    <meta name="robot" content="noindex, nofollow" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <body>
        <div class="container">
            {% block main %}{% endblock %}
        </div>
    </body>
</html>