{% extends "base.html.twig" %}

{% block main %}
    <div class="card__title">
        <h2>Configure PHP executable</h2>
    </div>

    <div class="card__body">
        <p>
            The recovery process has been completed.
        </p>
    </div>

    <form method="post" class="card__footer flex-container">
        <button type="submit" class="btn btn-primary flex-item flex-right" form="submit">Delete Recovery and move to Admin</button>
    </form>
{% endblock %}