{% extends "base.html.twig" %}

{% block main %}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Install Shopware</h5>

            <button class="btn btn-primary" id="start">Install</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Console</h5>

            <pre id="output" class="form-control" style="height: 70vh;"></pre>
        </div>
    </div>

    <script>
        const output = document.getElementById('output');
        document.getElementById('start').onclick = function () {
            const decoder = new TextDecoder();
            fetch('/shopware-recovery.phar.php/install')
                .then(async (response) => {
                    const reader = response.body.getReader();

                    while (true) {
                        const {value, done} = await reader.read();
                        if (done) break;

                        const text = decoder.decode(value);

                        output.innerHTML += text;

                        output.scrollTop = output.scrollHeight;
                    }
                })
        }
    </script>
{% endblock %}